<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myseat.dao.ReviewMapper">
    <!--게시글 작성-->
    <insert id="insert" parameterType="ReviewDto">
        insert into ms_board(title, content, nickname, sort)
        values (#{title}, #{content}, #{nickname}, #{sort})
    </insert>

    <!--게시글 목록-->
    <select id="selectAll" resultType="ReviewDto">
        select bno, title, content, sort, nickname, reg_date, view_cnt
        from ms_board
        order by reg_date DESC, bno DESC
    </select>

    <!--게시글 보기-->
    <select id="select" parameterType="Integer" resultType="ReviewDto">
        select bno, title, content, sort, nickname, reg_date, view_cnt
        from ms_board
        where bno = #{bno}
        order by reg_date DESC, bno DESC
    </select>

    <!--게시글 수정-->
    <update id="update" parameterType="ReviewDto">
        update ms_board
        set title = #{title}, content = #{content}, sort = #{sort}, up_date = now()
        where bno = #{bno} and nickname = #{nickname}
    </update>

    <!--게시글 삭제-->
    <delete id="delete" parameterType="map">
        delete
        from ms_board
        where bno = #{bno} and nickname = #{nickname}
    </delete>

    <!--페이징-->
    <select id="selectPage" parameterType="map" resultType="ReviewDto">
        select bno, title, content, sort, nickname, reg_date, view_cnt
        from ms_board
        order by reg_date DESC, bno DESC
        limit #{offset}, #{pageSize}
    </select>

    <!--전체 글 개수 구하기-->
    <select id="count" resultType="int">
        select count(*)
        from ms_board
    </select>
</mapper>